.publish_container{
    margin: 150px auto;
    max-width: 600px;
}

.publish_btn{
    margin: 30px auto;
    .btn{
        padding: 20px;
        margin: 0 10px;
        color:#fff;
    }
}

.publish_center{
    text-align: center;
}