.section_title {
  text-align: left;
  padding-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  border-left: 4px solid #ffb900;
  border-bottom: none!important;
  margin-bottom: 50px!important;
}
.home_section1 {
  width: 100%;
  height: calc(100vh - 70px);
  background: #ffbe33 url("/images/pexels-photo-1230665.jpeg") no-repeat 0 0;
  background-size: cover;
  .home_section1_top {
    width: 100%;
    height: calc(100% - 10vh);
    // background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .home_section1_top_container {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h2 {
      color: white;
      text-align: center;
      }
    } 
  }
  .home_section1_bottom {
    // width: 100%;
    height: 10vh;
    // background: #4fc6e4;
    display: flex;
    justify-content: center;
    align-items: center;
    .down_btn {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: #ffffff transparent transparent transparent;
        &:hover {
          border-color: #be2828 transparent transparent transparent;
        }
    }
  }
}
.home_section1h {
  margin: 15vh auto 15vh auto;
  width: 80%;
  .about_us {
    display: flex;
    justify-content: space-between;
    .about_us_left {
      width: 50%;
      height: 200px;
      position: relative;
      padding: 30px;
      color: black;
      text-align: justify;
      span {
        font-size: 1.3rem;
      }
    }
    .about_us_right {
      width: 48%;
      height: 250px;
      background: #ffbe33 url("/images/pexels-photo-1415550.jpeg") no-repeat 0 0;
      background-size: cover;
      transform: rotate(4deg);
      opacity: .8;
    }
  }
}
.home_section2 {
  margin: 15vh auto 15vh auto;
  width: 80%;
  .blank {
    margin-top: 15vh;
  }
  .home_section2_case_container {
    // height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media only screen and (max-width: 1000px) {
      flex-wrap: wrap;
      height: auto;
      justify-content: space-around;
    }
    .home_section2_case {
      @media only screen and (max-width: 1000px) {
        width: 300px;
        flex-wrap: wrap;
        height: 100%;
        margin-bottom: 10vh;
      }
      .home_section2_case_bottom {
        h5 {
          @media only screen and (max-width: 1230px) {
            font-size: 2.5vh;
          }
        }
      }
    }
  }
}
.home_section3 {
  margin: 10vh auto 10vh auto;
  height: 500px;
  width: 100%;
  // background: #36bdf1;
  // clip-path: polygon(0% 0%, 60% 0, 40% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  .home_section3_content {
    width: 100%;
    display: flex;
    .home_section3_content_text {
      flex-grow: 1;
    }
    .home_section3_content_slider {
      width: 100%;
    }
  }
}
.home_section4 {
  margin: 15vh auto;
  width: 80%;
  // background: rgb(202, 202, 202);
  .home_section4_hotissue_container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    .hshc_left {
      width: 60%;
      height: 100%;
      background: #ffbe33 url("/images/pexels-photo-1574649.jpeg") no-repeat 0 0;
      background-size: cover;
      border-radius: 5px;
      opacity: .8;
    }
    .hshc_right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 50px;
      flex-grow: 1;
      
      a {
        font-weight: bold;
        color: rgb(253, 253, 253);
        h4 {
          border-right: 2px solid orange;
          background: orange;;
        }
      }
    }
  }
}