.pagination {
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2px;
        .btn_link {
            border: 2px solid rgb(194, 194, 194);
            padding: 2px 10px;
            box-sizing: border-box;
            // border-radius: 50%;
            color: black;
            &:hover {
                background: rgb(194, 194, 194);
            }
        }
    }
    li.btn_active {
        background: rgb(194, 194, 194);
    }
}

.list_section1 {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 70px;
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(221, 221, 221);
    z-index: 10;
    .list_section1_searchbar_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        .burger_button_container {
            display: none;
        }
        .lsccr_btn_container {
            display: none;
        }
        .searchbar {
            width: 75%;
            justify-content: space-between;
            height: 40px;
            .startsearch_btn {
                width: 188px;
                height: 40px;
                i {
                    line-height: 40px;
                }
                span {
                    line-height: 40px;
                }
            }
            .searchbar_btn {
                border: 1px solid rgb(207, 207, 207);
                height: 40px;
                margin-right: 30px;
            }
            .searchbar_btn_dropdown_toggle {
                width: 230px;

            }
        }
        .mobile_menu_filter {
            display: none;
        }
    }

}
.list_section2 {
    margin-top: 125px;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list_section2_case_container {
        height: 100%;
        width: 68%;
        align-self: flex-start;
        .list_section2_case_container_result {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-size: 1rem;
                color: #888;
                flex-grow: 1;
            }
            .lsccr_btn_container {
                // width: 258px;
                width: 258px;
                display: flex;
                justify-content: flex-start;
                .lsccr_btn:first-child {
                    margin-right: 10px;
                }
                .lsccr_btn {
                    padding: 5px 0;
                    width: 127px;
                    text-align: center;
                    border-radius: 2px;
                    border: none;
                    box-shadow: 1px 1px 1px #929292;
                    background: #dab347;
                    color: white;
                    -webkit-transition: .5s;
                    transition: .5s;
                    &:hover {
                        background: #1c8f89;
                        color: white;
                    }
                }
            }
        }
        .list_section2_case_container_case {
            height: 100%;
            width: 100%;
            margin-top: 20px;
        }
    }
    .list_section2_option_container {
        // width: 25%;
        width: 285px;
        // background: rgb(231, 231, 231);
        align-self: flex-start;
        position: sticky;
        top: 163px;
        // right: 0;
        // padding: 0px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .filter{
            display: block;
            position: relative;
            height: auto;
            // width: 500px;
            width: 100%;
            h2 {
                font-size: 1.1rem;
                color: #AAAAAA;
                margin-bottom: 3px!important;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                overflow: auto;
                li {
                    color: rgb(143, 143, 143);
                    display: block;
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 36px;
                    input[type=radio] {
                        position: absolute;
                        visibility: hidden;
                    }
                    label {
                        display: block;
                        position: relative;
                        font-weight: 300;
                        font-size: 1.1rem;
                        padding: 6px 25px 25px 80px;
                        margin: 1px auto;
                        height: 30px;
                        z-index: 9;
                        cursor: pointer;
                        transition: all 0.25s linear;
                    }
                    &:hover label {
                        color: rgb(73, 168, 124);
                    }
                    .check {
                        display: block;
                        position: absolute;
                        border: 3px solid rgb(143, 143, 143);
                        border-radius: 100%;
                        height: 15px;
                        width: 15px;
                        top: 11px;
                        left: 20px;
                        z-index: 5;
                        transition: border .25s linear;
                        -webkit-transition: border .25s linear;
                    }
                    &:hover .check {
                        border: 3px solid rgb(73, 168, 124);
                    }
                }
            }
        }

        .serach_show{
            display: flex;
        }

        ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 10px;
        width: 10px;
        top: 2.5px;
        left: 2.5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        }

        input[type=radio]:checked ~ .check {
        border: 3px solid rgb(73, 168, 124);
        }

        input[type=radio]:checked ~ .check::before{
        background: rgb(73, 168, 124);
        }

        input[type=radio]:checked ~ label{
        color: rgb(73, 168, 124);
        }
    }
}
@media only screen and (max-width: 991px) {
    .list_section1.show {
        min-height: calc( 100vh - 70px );
    }
    .list_section1 {
        overflow: hidden;
        min-height: 63px;
        transition: .5s;
        align-items: flex-start;
        .list_section1_searchbar_container.show {
            // overflow-y: scroll;
            overflow: auto;
        }
        .list_section1_searchbar_container {
            width: 100%;
            transition: .5s;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: flex-start;
            height: calc( 100vh - 70px );
            overflow: hidden;
            // background: rgb(192, 116, 116);
            // .element::-webkit-scrollbar {display:none}
            position: relative;
            .burger_button_container {
                display: block;
                height: 70px;
                width: 85%;
                // background: #000;
                .burger-menu {
                    position: relative;
                    width: 30px;
                    height: 70px;
                    cursor: pointer;
                  }
                  .burger {
                    position: absolute;
                    background: #659288;
                    width: 100%;
                    height: 5px;
                    top: 50%;
                    right: 0px;
                    margin-top: -5px;
                    opacity: 1;
                  }
                  .burger::before {
                    position: absolute;
                    background: #659288;
                    width: 30px;
                    height: 5px;
                    top: 10px;
                    content: "";
                    display: block;
                  }
                  .burger::after {
                    position: absolute;
                    background: #659288;
                    width: 30px;
                    height: 5px;
                    bottom: 10px;
                    content: "";
                    display: block;
                  }
                  .burger::after, .burger::before, .burger {
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                  }
                  .burger-menu.menu-on .burger::after{
                     transform: rotate(-45deg);
                     -webkit-transform: rotate(-45deg);
                    bottom: 0px;
                  }
                  .burger-menu.menu-on .burger::before{
                     transform: rotate(45deg);
                     -webkit-transform: rotate(45deg);
                    top: 0px;
                  }
                  .burger-menu.menu-on .burger{
                   background: rgba(111,111,111,.0);
                  }
                  /* useless css */
                //   .burger-menu {
                //     margin-left:auto;
                //     margin-right: auto;
                //   }
            }
            .searchbar {
                flex-wrap: wrap;
                justify-content: center;
                // background: rgb(216, 44, 44);
                height: 173px;
                .searchbar_btn {
                  width: calc( 50% - 5px );
                  height: 40px;
                  margin-bottom: 6px;
                  margin-right: 0;
                }
                .searchbar_btn:nth-child(1) {
                  margin-right: 10px;
                }
                .searchbar_btn3 {
                  width: 80%;
                  margin-bottom: 4px;
                }
                .startsearch_btn {
                    width: 100%;
                }
            }
            .mobile_menu_filter {
                display: block;
                position: absolute;
                top: 243px;
                width: 75%;
                h3 {
                    color: rgb(134, 134, 134);
                    font-size: 1.4rem;
                    text-align: center;
                    padding: 10px 0;
                    border-bottom: 1px solid rgb(204, 204, 204);
                    margin-bottom: 20px;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li {
                        width: 48%;
                        margin-bottom: 10px;
                        div {
                            width: 100%;
                            height: 37px;
                            line-height: 37px;
                            text-align: center;
                            border-radius: 2px;
                            border: none;
                            box-shadow: 1px 1px 1px #929292;
                            background: #659288;
                            color: white;
                            -webkit-transition: .5s;
                            transition: .5s;
                            &:hover {
                                background: #ffda36;
                                color: rgb(63, 63, 63);
                            }
                        }
                    }
                    li.active {
                        div {
                            background: #ffda36;
                            color: rgb(63, 63, 63);
                            // box-shadow: none;
                            // border: 1px solid transparent!important;
                        }
                    }
                    // li:nth-child(4) {
                    //     width: 50%;
                    // }
                }
                .lsccr_btn_container {
                    background: #000;
                }
            }
        }
    }
    .list_section2 {
        .list_section2_case_container {
            width: 100%;
            .list_section2_case_container_result {
                h3 {
                    width: 100%;
                    padding-left: 15px;
                }
                .lsccr_btn_container {
                    display: none;
                }
            }
        }
        .list_section2_option_container {
            display: none;
        }
    }
}