
    // .member_form_box{
    //     width:70%;
    //     margin: auto;
    //     border: 1px red solid;
    // }
    // @media(max-width:700px){
    //     .member_form_box{
    //         width:100%;
    //         margin: 0;
    //     }
    // }

    // .member_form_content{
    //     margin: 0 auto;
    //     // background: rgb(157, 205, 212);
    //     padding: 20px;
    //     box-sizing: border-box;
    // }
    
    // .form-basic {
    //     width: 602px;
    //     margin: 0 auto;
    //     box-sizing: border-box;
    //     background-color: rgb(85, 180, 197);
    //     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    //     font: bold 14px sans-serif;
    //     text-align: center;
    //     .form-row {
    //         text-align: center;
    //         margin-bottom: 22px;
    //         >label {
    //             span {
    //                 display: inline-block;
    //                 box-sizing: border-box;
    //                 color: #5F5F5F;
    //                 width: 180px;
    //                 text-align: right;
    //                 vertical-align: top;
    //                 padding: 12px 25px;
    //             }
    //         }
    //     }
    //     .form-title-row {
    //         text-align: center;
    //         margin-bottom: 55px;
    //     }
    //     h1 {
    //         display: inline-block;
    //         box-sizing: border-box;
    //         color: #4c565e;
    //         font-size: 24px;
    //         padding: 0 10px 15px;
    //         border-bottom: 2px solid #6caee0;
    //         margin: 0;
    //     }
    //     input {
    //         color: #5f5f5f;
    //         box-sizing: border-box;
    //         width: 300px;
    //         box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.08);
    //         padding: 12px;
    //         border: 1px solid #dbdbdb;

    //     }
    //     input[type=radio] {
    //         box-shadow: none;
    //         width: auto;
    //     }
    //     input[type=checkbox] {
    //         box-shadow: none;
    //         width: auto;
    //         margin-top: 13px;
    //     }
    //     select {
    //         background-color: #ffffff;
    //         color: #5f5f5f;
    //         box-sizing: border-box;
    //         max-width: 240px;
    //         box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    //         padding: 12px 8px;
    //         border: 1px solid #dbdbdb;
    //     }
    //     textarea {
    //         color: #5f5f5f;
    //         box-sizing: border-box;
    //         width: 240px;
    //         height: 80px;
    //         box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    //         font: normal 13px sans-serif;
    //         padding: 12px;
    //         border: 1px solid #dbdbdb;
    //         resize: vertical;
    //     }
    //     .form-radio-buttons {
    //         display: inline-block;
    //         vertical-align: top;
    //         >div {
    //             margin-top: 10px;
    //         }
    //         label {
    //             span {
    //                 margin-left: 8px;
    //                 color: #5f5f5f;
    //                 font-weight: normal;
    //             }
    //         }
    //         input {
    //             width: auto;
    //         }
    //     }
    //     button {
    //         display: block;
    //         border-radius: 2px;
    //         background-color: #6caee0;
    //         color: #ffffff;
    //         font-weight: bold;
    //         box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    //         padding: 14px 22px;
    //         border: 0;
    //         margin: 40px 183px 0;
    //     }
    // }
    // @media (max-width: 950px) {
    //     .form-basic {
    //         padding: 30px;
    //         max-width: 480px;
    //         .form-row {
    //             max-width: 300px;
    //             margin: 25px auto;
    //             text-align: left;
    //             >label {
    //                 span {
    //                     display: block;
    //                     text-align: left;
    //                     padding: 0 0 15px;
    //                 }
    //             }
    //         }
    //         .form-title-row {
    //             margin-bottom: 50px;
    //         }
    //         select {
    //             width: 240px;
    //         }
    //         input[type=checkbox] {
    //             margin-top: 0;
    //         }
    //         .form-radio-buttons {
    //             >div {
    //                 margin: 0 0 10px;
    //             }
    //         }
    //         button {
    //             margin: 0;
    //         }
    //     }
    // }
    