// @import '../../App.scss';

.register_background {
    width: 100%;
    height: calc( 100vh - 70px );
    // background: url(/images/business-computer-connection-450035.jpg) no-repeat 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .register_container_a{
        width: 601px;
        // background: rgba(216, 216, 216, 0.7);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        .register_container_a_text {
            h4 {
                font-size: 1.5rem;
                font-weight: bold;
                color: rgb(0, 0, 0);
            }
        }
        .register_container_a_btn {
            width: 100%;
            display: flex;
            height: 200px;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            // flex-direction: column;
            .line {
                width: .5px;
                height: 150px;
                border-right: 1.5px solid black;
                margin: 0 100px;
            }
            @media only screen and (max-width: 680px) {
                .line {
                    margin: 0 5%;
                }
            }
            a {
                // background: #ff5a5a;
                border: 1.5px solid black;
                box-shadow: 0px 0px 3px grey inset;
                transition: 0.5s;
                color: rgb(0, 0, 0);
                padding: 10px 0;
                text-align: center;
                width: 200px;
                // border-radius: 3px;
                font-weight: bold;
                letter-spacing: 3px;
                &:hover {
                    background: #000000;
                    color: white;
                    box-shadow: 0px 0px 3px rgb(0, 0, 0) inset;
                }
            }
        }
    }
}

  