@import '../../../../App.scss';


.member_form_box,.member_form_box_top{
    width:80%;
    margin: auto;
}
@media(max-width:950px){
    .member_form_box,.member_form_box_top{
        width:100%;
        // margin: 0;
    }
}
.member_form_box_top{
    
}
.member_form_box{
    background-color: rgb(78, 143, 173);
}

.register_container1{
    margin: 51px auto -5px auto;
    .register_outside{
        div{
            display: flex;
        }
        .btn{
            background-color: #4e8fad;
            width: 30%;
            transition: 0.5s;
            margin: 0 5px 0 0 !important;
            &:hover{
                background-color: rgb(147, 221, 231);
                text-decoration:none;
                border-radius: 3px;
            }
            a {
                text-decoration:none;
            }
        }
    }
}

.register_btn{
    font-size: 1.6rem;
    background-color: rgb(78, 143, 173);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    transition:0.5s;
    &:hover{
        background-color: rgb(147, 221, 231);
        text-decoration:none;
         }
}

// .btn{
//     background-color: #4e8fad;
//     width: 30%;
//     transition: 0.5s;
//     margin: 0 5px 0 0 !important;
//     &:hover{
//         background-color: rgb(147, 221, 231);
//         text-decoration:none;
//         border-radius: 3px;
//     }
//     a {
//         text-decoration:none;
//     }
// }