.register_navbar{
    background: rgb(223, 183, 183);
    .member_head{
        max-width: 160px;
        max-height: 200px;
        img{
            background-size: cover;
            max-width: 160px;
            
        }
    }
    li{
        list-style: none;
        border: 1px solid #fff;
        padding: 30px;
        
        &:hover{
            background: #fff;
            
        }
        a{ 
            padding: 30px;
            text-align: center;
            color: rgb(57, 57, 57);
            text-decoration: none;
        }
    }
}

