$member_main_color:rgb(243, 243, 243);
.member_button {
    border: 1px solid rgb(214, 214, 214);
    background: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
}

#member_container {
    background: rgb(255, 255, 255);
    // background: #F3F3F4;
    padding: 30px 13%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .register_navbar{
        width: 200px;
        background: $member_main_color;
        box-shadow: 0 0 5px rgb(221, 221, 221);
        margin-right: 50px;
        .member_head{
            margin: 20px 0;
            width: 200px;
            display: flex;
            flex-direction: column;
            height: 150px;
            justify-content: space-around;
            align-items: center;
            position: relative;
            img{
                // width: 50%;
                // height: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid rgb(211, 211, 211);
            }
            span {
                font-weight: bold;
                color: #1ca5af;
            }
            a{
                border-radius: 5px;
            }
            .upload_img {
                position: absolute;
                width: 25px;
                height: 25px;
                bottom: 44px;
                right: 56px;
                background: #aaa;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: white;
                }
            }
        }
        ul {
            li{
                list-style: none;
                height: 50px;
                border-bottom: 1px solid #E9E9E9;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                a{ 
                    width: 100%;
                    height: 100%;
                    display: block;
                    text-align: center;
                    color: #aaa;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        i {
                            color: rgb(253, 252, 240);
                        }
                    }    
                    &:hover i::after {
                        // width: 100%;
                        right: 0;
                    }
                    i {
                        color: #aaa;
                        width: 30%;
                        line-height: 50px;
                        transition: .5s;
                        position: relative;
                        z-index: 1;
                    }
                    i::after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        right: 100%;
                        bottom: 0;
                        background: #aaa;
                        height: 100%;
                        -webkit-transition-property: right;
                        transition-property: right;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }
                    span {
                        margin-left: 10px;
                        flex-grow: 60;
                        font-weight: bold;
                        text-align: left;
                    }
                }
            }
        }
    }
       
    //-------------member?k?????scss-----------------
    switch{
        width:100%;
    }
    .member_form_box{
        width:100%;
        .member_form_content{
            width: 100%;
            margin: 0 auto;
            background: $member_main_color;
            box-shadow: 0 0 5px rgb(221, 221, 221);
            padding: 30px;
            box-sizing: border-box;
            .form-basic {
                padding: 30px 0;
                width: 100%;
                background-color: rgb(85, 180, 197);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
                font: bold 14px sans-serif;
                text-align: center;
                .form-row {
                    text-align: center;
                    margin-bottom: 22px;
                    >label {
                        span {
                            display: inline-block;
                            box-sizing: border-box;
                            color: #5F5F5F;
                            width: 180px;
                            text-align: right;
                            vertical-align: top;
                            padding: 12px 25px;
                        }
                    }
                }
                .form-title-row {
                    text-align: center;
                    margin-bottom: 55px;
                }
                h1 {
                    display: inline-block;
                    box-sizing: border-box;
                    color: #4c565e;
                    font-size: 24px;
                    padding: 0 10px 15px;
                    border-bottom: 2px solid #6caee0;
                    margin: 0;
                }
                input {
                    color: #5f5f5f;
                    box-sizing: border-box;
                    width: 300px;
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.08);
                    padding: 12px;
                    border: 1px solid #dbdbdb;
                }
                input[type=radio] {
                    box-shadow: none;
                    width: auto;
                }
                input[type=checkbox] {
                    box-shadow: none;
                    width: auto;
                    margin-top: 13px;
                }
                select {
                    background-color: #ffffff;
                    color: #5f5f5f;
                    box-sizing: border-box;
                    max-width: 240px;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
                    padding: 12px 8px;
                    border: 1px solid #dbdbdb;
                }
                textarea {
                    color: #5f5f5f;
                    box-sizing: border-box;
                    width: 240px;
                    height: 80px;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
                    font: normal 13px sans-serif;
                    padding: 12px;
                    border: 1px solid #dbdbdb;
                    resize: vertical;
                }
                .form-radio-buttons {
                    display: inline-block;
                    vertical-align: top;
                    >div {
                        margin-top: 10px;
                    }
                    label {
                        span {
                            margin-left: 8px;
                            color: #5f5f5f;
                            font-weight: normal;
                        }
                    }
                    input {
                        width: auto;
                    }
                }
                button {
                    display: block;
                    border-radius: 2px;
                    background-color: #6caee0;
                    color: #ffffff;
                    font-weight: bold;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
                    padding: 14px 22px;
                    border: 0;
                    margin: 40px 183px 0;
                }
            }
        }
    }
}
@media (max-width:1257px) {
    #member_container {
        padding: 30px 8%;
    }
}
@media (max-width:1111px) {
    #member_container {
        padding: 30px 5%;
    }
}
@media (max-width:930px) {
    #member_container {
        flex-direction: column;
        .register_navbar {
            display: flex;
            width: 100%;
            align-items: center;
            height: 110px;
            margin-right: 0px;
            margin-bottom: 50px;
            padding: 0 3%;
            box-sizing: border-box;
            justify-content: space-between;
            .member_head {
                height: 100%;
                width: 75px;
                margin: 0 0;
                img {
                   width: 75px;
                   height: 75px;
                }
                span {
                    display: none;
                }
                .upload_img {
                    width: 25px;
                    height: 25px;
                    bottom: 16px;
                    right: -2px;
                    i {
                        color: white;
                    }
                }
            }
            ul {
                width: 81%;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: space-between;
                li {
                    width: 13%;
                    border: none;
                    a {
                        display: flex;
                        flex-direction: column;
                        i {
                            font-size: 20px;
                            width: 100%;
                        }
                        span {
                            margin-left: 0px;
                            width: 64px;
                        }
                    }
                }
            }
        }
        .member_form_box {
            width: 100%;
        }
    }
}
@media (max-width:587px) {
    #member_container {
        .register_navbar {
            height: 85px;
            margin-bottom: 40px;
            padding: 0 5%;
            .member_head {
                display: none;
            }
            ul {
                width: 100%;
            }
        }
    }
}