$member_main_color:rgb(243, 243, 243);

.member_form_billing_container {
    // background: rgb(116, 106, 212);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .mfb_container_top {
        // background: rgb(104, 201, 49);
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
        .mfb_container_top_box {
            box-sizing: border-box;
            // width: 45%;
            height: 180px;
            padding: 30px 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: rgb(0, 0, 0);
            background: $member_main_color;
        }
        .mfb_container_top_credit {
            width: 57%;
            box-shadow: 0 0 5px rgb(221, 221, 221);
            .credit_button_container {
                display: flex;
                justify-content: flex-start;
                a {
                    padding: 3px 10px;
                    border: 1px solid #d6d6d6;
                    // background: #e2e2e2;
                    border-radius: 3px;
                    font-weight: bold;
                    color: black;
                    margin: 0 10px 0 0;
                    background: white;
                }
            }
        }
        .mfb_container_top_point {
            width: 39.5%;
            box-shadow: 0 0 5px rgb(221, 221, 221);
            span {
                strong {
                    font-size: 1.1rem;
                }
            }
            a {
                padding: 3px 10px;
                border: 1px solid #d6d6d6;
                // background: #e2e2e2;
                border-radius: 3px;
                font-weight: bold;
                color: black;
                align-self: flex-start;
                background: white;
            }
        }
        @media (max-width: 660px) {
            .mfb_container_top_box {
                padding: 20px 30px;
                height: 150px;
            }
        }
        @media (max-width: 660px) {
            .mfb_container_top_point {
                span {
                    strong {
                        font-size: 1.5rem;
                        line-height: 51px;
                    }
                }
            }
        }
    }
    .mfb_container_bottom {
        width: 100%;
        background: $member_main_color;
        // height: 300px;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        align-items: center;
        padding: 5vh 0;
    }
}