$plan_section_bg_color:rgb(247, 247, 247);
$plan_section_content_width:80%;
$plan_section_content_marginTop:50px;
$plan_section_content_paddingTop:50px;
$plan_h1_fontSize:2rem;
$plan_h2_fontSize:1.5rem;
$plan_padding:50px 0;
$explain_button_height:50px;
$plan_box_circle_length:50px;
$plan_btn_color:#f54337;
@mixin btn {
    border: 2px solid $plan_btn_color;
    color: $plan_btn_color;
}
@mixin btn_hover {
    color: #fff;
    background-color: $plan_btn_color;
}


.plan_section_2,.plan_section_3,.plan_section_4{
    padding: 80px 0;
    h1{
        font-size: $plan_h1_fontSize;
        font-weight: 500;
        font-family: Microsoft JhengHei,sans-serif!important;
    }
    p{
        line-height: 2rem;
    }
}


.plan_section_1{
    background: $plan_section_bg_color;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    h1{
        width: 100%;
        font-size: $plan_h1_fontSize;
        font-weight: 700;
        font-family: Microsoft JhengHei,sans-serif!important;
    }
    .plan_section_1_content{
        width:$plan_section_content_width;
        margin: auto;
        display: flex;
        flex-wrap:wrap;
        h1{
            width: 100%;
            // padding: $plan_padding;
        }  
        h2{
            font-size: $plan_h2_fontSize;
            // padding: $plan_padding;
            padding: 10px 0 10px 0;
            width: 100%;
            text-align: left;
            border: none;
        }
        .plan_section_1_content_bottom{
            width: 70%;
            line-height: 35px;
            // display: flex;
            // align-items: center;

            // .explain_button{
            //     width: 125px;
            //     height: $explain_button_height;
            //     line-height: $explain_button_height;
            //     margin-left: 20%;
            //     text-align: center;
            //     text-decoration: none;
            //     @include btn;
            //     .arrow{
            //         width:30%;
            //         height: auto;
            //         vertical-align: middle;
            //     }
            // }
            // .explain_button:hover{
            //     @include btn_hover;
            // }
        }
    }
}

.plan_section_2{
    width: 80%;
    margin: 0 auto;
    h1 {
        width: 100%;
        margin: 0 auto 50px auto;
        margin-bottom: 50px;
    }
    .plan_section_2_content{
        // width:$plan_section_content_width;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .plan_box{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width:25%;
            height: 150px;
            letter-spacing: 2px;
            .plan_box_circle{
                // background-color:#ff8f59;
                // border-radius: 50%;
                width: $plan_box_circle_length;
                height: $plan_box_circle_length;
                line-height: $plan_box_circle_length;
                margin: auto;
                i {
                    font-size: 3rem;
                }
            }
            .plan_box_text{
                word-break: break-all;
            }
        }
        @media(max-width: 840px) {
            .plan_box{
                width:50%;
                margin-bottom: 10px;
            }
        }
        @media(max-width: 678px) {
            .plan_box{
                width:100%;
                margin-bottom: 10px;
            }
        }
    }
}

.plan_section_3{
    width: 100%;
    margin: 0 auto;
    background-color: $plan_section_bg_color;
    .plan_section_3_content{
        width:$plan_section_content_width;
        margin: auto;
        h1,.plan_section_3_content_p{
            margin-bottom:50px;
        }
        .plan_description{
            display: flex;
            width: 90%;
            margin: 0 auto;
            // background: #000;
            align-items: center;
            .plan_description_text{
                width:70%;
                word-break: break-all;
                text-align: justify;
            }
            .plan_description_img{
                width: 30%;
                height: 100%;
                opacity: .8;
                margin-left: 50px;
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                    transform: rotate(5deg);
                }
            }
        }
        @media(max-width: 1300px) {
            .plan_description {
                .plan_description_text {
                    width: 100%;
                }
                .plan_description_img {
                    display: none;
                }
            }
        }
        @media(max-width: 840px) {
            .plan_description{
                flex-wrap: wrap;
                justify-content: center;
                .plan_description_text{
                    width:100%;
                }
                .plan_description_img{
                    min-width: 50%;
                    min-width: 50%;
                }
            }
        }
    }
}

.plan_section_4{
    .plan_section_4_content{
        // padding-top:$plan_section_content_paddingTop;
        width:$plan_section_content_width;
        margin: auto;
        h1{
            margin-bottom: $plan_section_content_marginTop;
            width: 100%;
            margin: 0 auto 50px auto;
        }
        .plan_buy{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .plan_buy_box{
                border: 1px solid rgb(204, 204, 204);
                width: 280px;
                text-align: center;
                box-sizing: border-box;
                // margin-bottom: 30px;
                .pbb_plan_ctn {
                    padding: 20px 0;
                    background: rgb(245, 195, 32);
                    color: white;
                    span {
                        color: white;
                        strong {
                            font-size: 3rem;
                        }
                    }
                }
                .pbb_content_ctn {
                    padding: 10px 20px;
                    .description {
                        color: rgb(148, 148, 148);
                        text-align: justify;
                    }
                    .info {
                        // border-top: 1px solid rgb(224, 224, 224);
                        // border-bottom: 1px solid rgb(224, 224, 224);
                        padding: 10px 0;
                        margin: 10px 0;
                        .number{
                            font-size: 1rem;
                            padding: 1px 0;
                            font-weight: bold;
                            border-bottom: 1px solid rgb(224, 224, 224);
                            span {
                                color: rgb(148, 148, 148);
                            }
                        }
                        .number:nth-child(3) {
                            border: none;
                        }
                        .text{
                            font-size: 1rem;
                            text-align: left;
                            color: grey;
                        }
                    }
                }
                .plan_buy_btn{
                    display: block;
                    width:130px;
                    margin: auto;
                    margin-bottom: 20px;
                    padding: 10px 3%;
                    text-decoration: none;
                    border: 1px solid #353535;
                    background: #353535;
                    color: white;
                    &:hover {
                        background: white;
                        color: #353535;
                    }
                }
            }
            @media(max-width: 1300px) {
                .plan_buy_box{
                    margin: 0 50px 50px 50px;
                    width: 290px;
                }
            }
            @media(max-width: 1155px) {
                .plan_buy_box{
                    margin: 0 10px 50px 10px;
                    width: 290px;
                }
            }
        }
    }
}

