@import '../list/List.scss';


div{
  box-sizing: unset;
}

.job_wrap {
  width: 80%;
  margin: 180px auto 50px auto;
  padding-bottom: 20px;
  box-shadow: 0px 0px 4px rgba(44, 44, 44, 0.5);
  .job_upper {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    .upper_left {
      // display: block;
      border-radius: 3px;
      margin:60px 40px 60px;
      overflow: hidden;
      width: 40%;
      // height: 245px;
      background-color: #9093bd;
      max-height: 305px;
      img.photo {    
        display: block;    
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    } //end of figure.upper_left 
    
    .upper_right {
      width: 45%;
      margin-right: 40px;
      height: 245px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // background-color: #bd90af;
      align-items: center;
      h3 {
        font-size: calc(10px + 2vmin);
        padding: 5px 0 10px 0;
      }
      p{
        font-size: calc(10px + 1vmin);
      }
      .button_container {
        width: 80%;
        // background: powderblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .list_case_ctn_apply {
            background: rgb(87, 189, 133);
            border: 1.5px solid rgb(87, 189, 133);
            text-decoration: none;
            padding: 2px 30px;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background: rgb(68, 150, 105);
                border: 1.5px solid rgb(68, 150, 105);
            }
        }
        .list_case_ctn_save{
            background: rgb(218, 179, 71);
            border: 1.5px solid rgb(218, 179, 71);
            text-decoration: none;
            padding: 2px 30px;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background: #fca431;
                border: 1.5px solid #fca431;
            }
        }
    }
    } //end of .upper-right
  } //end of job_upper

  @media screen and (max-width:800px){
    .job_upper{
      flex-direction: column;    
      // justify-content: center;  
      figure.upper_left {
        width: 80%;
      }    
      .upper_right{
        padding-bottom: 20px;
        margin-right: 0;
      }
    } 
  }


  .job_lower {
    margin-top:50px;
    // background-color: #bd90b3;
    .job_content{
      // border: 1px solid #ccc;
      margin-bottom: 80px;
      margin: 50px;
      padding-left: 20px;
      h2{
        padding: 10px 0 50px;
      }  
      p{
        font-size: calc(10px + 1vmin);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .job_wrap {
    .job_upper {
      flex-direction: column;
      margin-right: 0px;
      .upper_left {
        width: 80%;
      }
      .upper_right {
        height: 150px;
      }
    }
  }
}

.text_align_center{
  color: rgb(19, 121, 73);
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.container720{
  width: 100%;
  // margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.casename{
  font-size: 22px;
  font-weight: 600;
}

.bsname{
  text-align: left;
}

.bsname_show {
  font-size: 18px;
  font-weight: 600;
}


.case_back{
  margin-top: 50px;
  margin-bottom: 10px;
}

.case_back_btn{
  background: rgb(125, 185, 153);
  text-decoration: none;
  text-align: center;
  padding: 7px 26px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  &:hover {
      color: #fff;
      background: rgb(81, 170, 123);
  }
}
