@import "../../../../App.scss";

.bsmyfavor_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  .bsmyfavor_container_card_container {
    display: flex;
    flex-direction: column;
    width: 270px;
    background: #fff;
    height: 400px;
    box-shadow: 0 0 15px grey;
    margin-bottom: 30px;
    header {
      overflow: hidden;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    .middle {
      opacity: 1;
      .text:hover{
        box-shadow: 2px 2px 6px rgba(44, 44, 44, 0.5);
      }
    }
    .bccc_card_body {
      flex-grow: 1;
      padding: 30px;
      display: flex;
      .bccc_card_body_left {
        flex-grow: 1;
      }
      .unsaved {
        width: 40px;
        background: rgb(209, 128, 128);
        margin: 0;
        padding: 0;
        text-align: center;
        align-self: flex-end;
        border-radius: 2px;
        cursor: pointer;
          &:hover{
            background: rgb(207, 97, 97);
            // box-shadow: 1px 1px rgb(102, 58, 58);
          }
      }
    }
  }
  @media (max-width: 1280px) {
    .bsmyfavor_container_card_container {
      width: 45%;
    }
  }
  @media (max-width: 1080px) {
    .bsmyfavor_container_card_container {
      height: 380px;
      .bccc_card_body {
        padding: 15px 20px 20px 20px;
      }
    }
  }
  @media (max-width: 920px) {
    .bsmyfavor_container_card_container {
      width: 45%;
      height: 380px;
      .bccc_card_body {
        padding: 30px;
      }
    }
  }
  @media (max-width: 640px) {
    .bsmyfavor_container_card_container {
      width: 270px;
      height: 380px;
      .bccc_card_body {
        padding: 30px;
      }
    }
  }
}


