@import "../../../../App.scss";

.bsmyfavor_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  .bsmyfavor_container_card_container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: #fff;
    height: 400px;
    box-shadow: 0 0 15px grey;
    margin-bottom: 30px;
    border-radius: 3px;
    overflow: hidden;
    header {
      overflow: hidden;
      height: 200px;
      &.banner{
        width: 100%;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
      }
      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        .text {
          border-radius: 3px;
          background-color: #71a795;
          color: white;
          font-size: 16px;
          padding: 10px 25px;
          transition: .4s ease;
        }
      }
    }
    header.banner:hover {
      img {
        opacity: 0.5;
      }
      .middle {
        opacity: 1;
        .text:hover{
          box-shadow: 2px 2px 6px rgba(44, 44, 44, 0.5);
        }
      }
    }
    // .middle {
    //   opacity: 1;

    //   .text:hover {
    //     box-shadow: 2px 2px 6px rgba(44, 44, 44, 0.5);
    //   }
    // }

    .bccc_card_body {
      flex-grow: 1;
      padding: 30px;
      display: flex;
      position: relative;

      .bccc_card_body_left {
        flex-grow: 1;
      }

      .unsaved {
        // width: 10%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: rgb(204, 204, 204);
        font-size: 10px;
        color:#fff;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        right: 18px;
        top: 14px;
        &:hover {
          background: rgb(207, 151, 151);
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .bsmyfavor_container_card_container {
      width: 45%;
    }
  }

  @media (max-width: 1080px) {
    .bsmyfavor_container_card_container {
      height: 380px;

      .bccc_card_body {
        padding: 15px 20px 20px 20px;
      }
    }
  }

  @media (max-width: 920px) {
    .bsmyfavor_container_card_container {
      width: 45%;
      height: 380px;

      .bccc_card_body {
        padding: 30px;
      }
    }
  }

  @media (max-width: 640px) {
    .bsmyfavor_container_card_container {
      width: 270px;
      height: 380px;

      .bccc_card_body {
        padding: 30px;
      }
    }
  }
}