$padding_left:2%;
@mixin Width($width:90%) {
    width: $width;
    margin: auto;
    padding: 50px 0;
}

// ------------
.title{
    font-size: 2rem;
    font-weight: 900;
}
.line{
    width: 100%;
    margin: auto;
    height: 1px;
    border-bottom: 1px solid black;
    margin: 15px 0 25px 0;
}
.white_section{
    height: 50px;
    background-color: #fff;
}
// ------------
.plan_buy{
    .plan_buy_content{
        width: 80%;
        margin: auto;
        background-color: #f1eade;
        .choose{
            @include Width;
            // .title{
            //     font-size: 2rem;
            //     font-weight: 900;
            // }
            // .line{
            //     width: 100%;
            //     margin: auto;
            //     height: 1px;
            //     border-bottom: 1px solid black;
            //     margin: 25px 0;
            // }
            .choose_plan{
                display: flex;
                justify-content: space-between;
                .plan_buy_box{
                    border: 1px solid rgb(204, 204, 204);
                    width: 290px;
                    text-align: center;
                    margin-bottom: 30px;
                    .pbb_plan_ctn {
                        padding: 20px 0;
                        background: rgb(160, 160, 160);
                        color: white;
                        span {
                            color: white;
                            strong {
                                font-size: 3rem;
                            }
                        }
                    }
                    .pbb_content_ctn {
                        padding: 10px 20px;
                        .description {
                            color: rgb(71, 71, 71);
                            text-align: justify;
                        }
                        .info {
                            // border-top: 1px solid rgb(224, 224, 224);
                            // border-bottom: 1px solid rgb(224, 224, 224);
                            padding: 10px 0;
                            margin: 10px 0;
                            .number{
                                font-size: 1rem;
                                padding: 1px 0;
                                font-weight: bold;
                                border-bottom: 1px solid rgb(224, 224, 224);
                                span {
                                    color: rgb(148, 148, 148);
                                }
                            }
                            .number:nth-child(3) {
                                border: none;
                            }
                            .text{
                                font-size: 1rem;
                                text-align: left;
                                color: grey;
                            }
                        }
                    }
                    .plan_buy_btn{
                        display: block;
                        width:130px;
                        margin: auto;
                        margin-bottom: 20px;
                        padding: 10px 3%;
                        text-decoration: none;
                        border: 1px solid #353535;
                        background: #353535;
                        color: white;
                        &:hover {
                            background: white;
                            color: #353535;
                        }
                    }
                }
                .final_check{
                    width:70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .final_check_title_div{
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.5rem;
                        font-weight: 600;
                        .final_check_change{
                            color: black;
                            text-decoration: none;
                        }
                        .final_check_change:hover{
                            color:red;
                        }
                    }
                    .final_check_content{
                        word-break: break-all;
                        line-height: 2rem;
                    }
                    .final_check_money{
                        font-size: 2rem;
                        font-weight: 700;
                        text-align: right;
                    }
                }
            }
            @media (max-width:860px){
                .choose_plan{
                    flex-direction: column;
                    .plan_buy_box{
                        width: 50%;
                        margin: 0 auto 50px auto;
                    }
                    .final_check{
                        width: 100%; 
                    }
                }
            }  
        }
        .ATM{
            @include Width(80%);
            margin-top: 50px;
            .form{
                .form_content{
                    margin-bottom: 50px;
                }
                .p_input_radio{
                    margin-bottom: 30px;
                }
                .nameEmail{
                    display: flex;
                    margin-bottom: 40px;
                    flex-wrap: wrap;
                    div{
                        display: flex;
                        flex-direction: column;
                        margin-right: 5%;
                        label{
                            margin-bottom: 10px;
                        }
                        .enter{}
                    }
                }
                .ul{
                    li:first-child>p {
                        margin-left: 12.8px;
                        margin-bottom: 10px;
                    }
                    li {
                        ul {
                            margin-left: 40px;
                            .nature_form {
                                display: flex;
                                input {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
                .form_bottom{
                    width: 300px;
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 1.2rem;
                        text-align: center;
                        margin-bottom: 10px;
                        span{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                    button{
                        margin: auto;
                    }
                }
                @media (max-width:550px){
                    .form_bottom{
                        margin: auto;
                    }
                }
            }
        }
    }
    @media (max-width:550px){
        .plan_buy_content{
            width: 100%;
        }
    }
}