// li.avatar_li{
//     position: relative;

//     i.fa-user{
//         font-size: 30px;
//     }
//     ul.submenu{    
            
//         display:flex;
//         width: 500px;
//         flex-direction: column;
//         max-height:500px;
//         position: absolute; 
//         justify-content:flex-start;
//         // opacity:0;       
//         li{
//             margin-left:0;
//             padding: 10px;
//         }
//     }
// }
// 
  
  // body {
  //   background-color: #f1f1f1;
  //   font-family: sans-serif;
  // }
  
  ul {
    list-style: none;
  }
  
  .user-menu-wrap {
    position: relative;
    width: 36px;
    margin: 50px auto;
    // display: flex;
  }
  
  .mini-photo-wrapper {
    display: block;
  }
  
  .mini-photo {
    border-radius: 50%;
  }
  
  .menu-container {
    visibility: hidden;
    opacity: 0;
    
    &.active {
      visibility: visible;
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }
  
  .user-menu {
    position: absolute;
    right: -22px;
    background-color: rgb(56, 124, 163);
    width: 120px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    
    .user-menu-link {
      display: block;
      text-decoration: none;
      color: #444;
      font-size: 1.3rem;
      padding: 5px 10px;
      
      &:hover {
        background-color: #4183c4;
        color: #fff;
      }
    }
    
    &:before {
      position: absolute;
      top: -16px;
      left: 72px;
      display: inline-block;
      content: "";
      border: 8px solid transparent;
      border-bottom-color:  rgb(56, 124, 163);
      border-bottom-color: rgba(0,0,0,0.15);
    }
    
    &:after {
      position: absolute;
      top: -14px;
      left: 73px;
      display: inline-block;
      content: "";
      border: 7px solid transparent;
      border-bottom-color: rgb(56, 124, 163);
    }
  }