$footer_hover: #52ffae;

.footer{
    background-color: #303030;
    color: #fff;
    .footer_content{
        width: 80%;
        padding: 50px 0 30px 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .footer_content_top {
            display: flex;
            width: 100%;
            justify-content: space-around;
            // .footer_content_top_left {
            //     // background: #000;
            //     width: 40%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     img {
            //         display: block;
            //         width: 200px;
            //         height: auto;
            //         font-size: 50px;
            //         color: black;
            //     }
            // }
            .footer_content_top_right{
                width: 60%;
                display: flex;
                justify-content: space-around;
                ul{
                    text-align: center;
                    li{
                        padding-bottom: 10px;
                    }
                    a{
                        text-decoration: none;
                        color: #aaa;;
                        font-size: 1rem;
                        &:hover{
                            color:$footer_hover;
                        }
                    }
                    .footer_title{
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    @media(max-width:754px) {
        .footer_content {
            width: 100%;
            // padding: 50px 0 30px 0;
            .footer_content_top {
                .footer_content_top_right {
                    width: 80%;
                    justify-content: space-between;
                }
            }
        }
    }
    .footer_bottom {
        width: 100%;
        // border-top: 1px solid #fff;
        background: rgb(39, 39, 39);
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        box-sizing: border-box;
        .footer_bottom_logo_container {
            width: 40%;
            height: 50px;
            img {
                margin: 0 auto;
                height: 50px;
                width: auto;
            }
        }
        .footer_bottom_icon_container {
            height: 50px;
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            i {
                color: #fff;
                font-size: 1rem;
                margin: 0 10px 0 20px;
            }
            a {
                color: #fff;
                &:hover span {
                    color:$footer_hover;
                }
                &:hover i {
                    color:$footer_hover;
                }

            }
        }
    }
    @media(max-width:946px) {
        .footer_bottom {
            .footer_bottom_logo_container {
                // width: 50%;
                width: 20%;
            }
            .footer_bottom_icon_container {
                width: 330px;
                a {
                    span {
                        // display: none;
                    }
                }
            }
        }
    }
    @media(max-width:754px){
        .footer_bottom {
            .footer_bottom_logo_container {
                width: 50%;
            }
            .footer_bottom_icon_container {
                width: 50%;
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}