$footer_hover: #fff78c;

.footer{
    background-color: #212121;
    color: #fff;
    padding-bottom: 20px;
    .footer_content{
        width: 80%;
        padding: 50px 0 30px 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .footer_content_top {
            display: flex;
            width: 100%;
            .footer_content_top_left {
                // background: #000;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                    width: 200px;
                    height: auto;
                    font-size: 50px;
                    color: black;
                }
            }
            .footer_content_top_right{
                width: 60%;
                display: flex;
                justify-content: space-around;
                ul{
                    text-align: center;
                    li{
                        padding-bottom: 10px;
                    }
                    a{
                        text-decoration: none;
                        color: #aaa;;
                        font-size: 1rem;
                    }
                    a:hover{
                        color:$footer_hover;
                    }
                    .footer_title{
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
                    @media(max-width:600px){
                        .footer_title{
                            font-size: 1.1rem;
                            font-weight: 700;
                        }
                    }
                }
                @media(max-width:600px){
                    ul{
                        font-size: 0.8rem;
                    }
                }
            }
        }
        
    }
    @media(max-width:900px){
        .footer_content{
            flex-wrap: wrap;
            .left_footer{
                width: 100%;
            }
            .right_footer{
                width: 100%;
                margin-bottom: 50px;
                order:-1;
            }
        }
    }
    .footer_bottom {
        width: 100%;
        border-top: 1px solid #fff;
        .footer_bottom_icon_container {
            // padding: 5px 0;
            margin: 10px auto 0 auto;
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            i {
                color: #fff;
                font-size: 1rem;
                margin: 0 10px 0 20px;
            }
            a {
                color: #fff;
            }
        }

    }
}