@import './avatar.scss';
.nav_container {
    margin: 0;
    padding: 0;
    background: #71a795;
    background-size: cover;
    width: 100%;
    height: 70px;
    clear: both;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    font-weight: bold;
    .nav_logo_container {
        img {
            width: auto;
            height: 70px;

        }
    }
    .nav_option_container {
        display: flex;
        list-style: none;
        align-items: center;
        // background: #000;
        font-size: 1.3rem;
        li {
            a {
                text-decoration: none;
                color: white;
            }
        }
        li:nth-child(2) {
            margin: 0 20px;
        }
        li:nth-child(3) {
            // background: rgb(255, 152, 152);
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}
.user-menu-wrap{
    cursor:pointer;
}
// nav_logo



