$main_color:#71a795;
.nav_container {
    margin: 0;
    padding: 0;
    background: $main_color;
    background-size: cover;
    width: 100%;
    height: 70px;
    clear: both;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    font-weight: bold;
    box-shadow: 0 1px 3px #aaa;
    .nav_logo_container {
        height: 100%;
        a {
            height: 100%;
            display: flex;
            align-items: center;
            margin: none!important;
            padding: none!important;
            img {
                width: auto;
                height: 55px;
            }
        }
    }
    .nav_option_container {
        display: flex;
        list-style: none;
        align-items: center;
        // background: #000;
        font-size: 1.3rem;
        li {
            margin-left: 20px;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: rgb(255, 203, 60);
                }
            }
            span {
                font-size: 1rem;
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media(max-width:530px) {
    .nav_container {
        padding: 0 5%;
        .nav_logo_container {
            a {
                img {
                    height: 40px;
                }
            }
        }
        .nav_option_container {
            li {
                margin-left: 13px;
            }
        }
    }
}
.user-menu-wrap{
    cursor:pointer;
    position: relative;
    width: 33px;
    margin: 0 auto;
    img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: block;
    }
    .menu-container {
        visibility: hidden;
        opacity: 0;
        &.active {
          visibility: visible;
          opacity: 1;
          transition: all .3s ease-in-out;
        }
        .user-menu {
            position: absolute;
            right: -22px;
            background-color: #b5ddd0;
            width: 120px;
            border-radius: 2px;
            border: 1px solid rgba(199, 199, 199, 0.15);
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 10px;
            list-style: none;
            a {
                font-size: 1rem;
                display: block;
                text-decoration: none;
                color: #444;
                padding: 5px 10px;
                &:hover {
                  background-color: #428f7b;
                  color: #fff;
                }
                &:before {
                    position: absolute;
                    top: -16px;
                    left: 72px;
                    display: inline-block;
                    content: "";
                    border: 8px solid transparent;
                    border-bottom-color:  #b5ddd0;
                    border-bottom-color: #b5ddd0;
                  }
                &:after {
                position: absolute;
                top: -14px;
                left: 73px;
                display: inline-block;
                content: "";
                border: 7px solid transparent;
                border-bottom-color: #b5ddd0;
                }
            }
        }
    }
}

.Notification{
    p{
        font-size: 0.6em;
        text-align: center;
        line-height: 1.2em
    }
    position: absolute;
    width: 20px;
    height: 20px;
    right: -9px;
    top: 22px;
    border: 1px solid rgb(140, 20, 20);
    background: rgb(176, 54, 54);
    box-shadow:1px 1px 1px #444;
    padding: 3px;
    border-radius: 50%;
}