$bg_color:rgb(243, 239, 233);

.chat{
    display: flex;
    justify-content: space-around;
    .chat_left{
        width: 40%;
        height: 600px;
        overflow: auto;
        background:$bg_color;
        .case{
            padding: 10px 10px;
            margin-bottom: 10px;
            background: #ffff;
            h6{
                font-size: 1.5rem;
            }
        }
        .case:hover{
            background-color: rgb(250, 238, 236);
        }
        .choose{
            background: rgb(248, 222, 217) !important;
        }
        .LookChat{
            padding: 3px 10px;
            background: #e2e2e2;
            border: 1px solid #d6d6d6;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .chat_right{
        width: 55%;
        height: 600px;
        background:$bg_color;
        .chatContent{
            // width:450px;  //暫時先寫死,不然當<p>太長時就會爆版
            height: 520px;
            overflow: auto;
            // background-color: #ffff;
            .bsChat,.icChat{
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid rgb(226, 224, 224);
                word-wrap:break-word;
                .time{
                    font-size: 0.8rem;
                }
            }
            .BS_bsChat,.IC_icChat{
                // color: rgb(73, 108, 206);
                text-align: right;
            }
            .BS_icChat,.IC_bsChat{
                
            }
        }
        .inputDiv{
            display: flex;
            flex-wrap: wrap;
            height: 80px;
            .text{
                width: 80%;
            }
            .sent{
                cursor: pointer;
                color: #ffff;
                text-align: center;
                width: 20%;
                line-height: 80px;
                background: rgb(73, 108, 206);
            }
            .sent:hover{
                background: rgb(65, 96, 182);
            }
        }
    }
}
