$main_color:#f2f2f2f2;
$second_color:#a0a0a0;
$border_radius: 40px;
$btn_color:#ff8d2af0;
$btn_hover_color:#9f5b1ff0;


// ------------------------reset---------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
  vertical-align: baseline;
  font-family: "微軟正黑體", "LiGothic", "FangSong", Arial, serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.7;
  background: rgb(255, 255, 255);
  text-shadow: none!important;
}
h1, h2 , h3, h4, h5, h6 {
  text-shadow: none!important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// 
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

// .container{
//   width: 1366px;
//   margin: 0 auto;
//   padding: 0;
// }

.flex{
  display: flex;
}

.transition{
  transition: 0.5s; 
}

.app_container{
  margin:30px auto;
  border:1px solid #f0f0f0f0;
}

.margin-top70 {
  margin-top: 70px;
}

a{
  font-size: 1rem;
}
input {
  border-radius: 1px!important;
}
.form-control {
  border-radius: 1px!important;
}

::-webkit-scrollbar {
  width: 13px;
} 
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0px 0px 15px rgba(30, 116, 64, 0.541);
  -webkit-box-shadow: 0px 0px 15px rgba(12, 92, 44, 0.856); 
  background: rgb(228, 228, 228);
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 10px 10px 10px rgba(158, 158, 158, 0.541); 
}
